@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Poppins:wght@300&display=swap");

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "ABeeZee", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fefefc;
  width: 100%;
  background: transparent;
  padding: 30px 10vw;
  position: fixed;
  z-index: 10;
}

.header_left > ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header_left > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
}

.header_left > ul > li > p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_right > p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.cart {
  position: relative;
}

.cart_count {
  background-color: #88ac2c;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: flex;
  font-size: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

/* .main_inner {
  min-height: 100vh;
  width: 100%;
  max-width: 1300px;
} */

.section_one {
  background-image: url("/home/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 10vw;
  padding-top: 100px;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
}

.layer_one_top {
  display: flex;
  align-items: center;
}

.rectangle {
  height: 300px;
  width: 620px;
  border: 20px solid #fdce77;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rectangle_top {
  width: 100%;
  height: 100%;
  display: flex;
}

.leaf1 {
  margin-top: -80px;
  margin-left: -20px;
  transform: rotate(-20deg);
}

.leaf1 > img {
  width: 100px;
  object-fit: contain;
  opacity: 0.8;
}

.leaf2 {
  margin-top: 5px;
  margin-left: 100px;
}

.leaf2 > img {
  width: 100px;
  object-fit: contain;
  opacity: 0.9;
}

.leaf3 {
  margin-bottom: -50px;
}

.leaf3 > img {
  width: 60px;
  object-fit: contain;
  opacity: 1;
}

.bottle {
  margin-left: -140px;
  margin-top: -50px;
}

.bottle > img {
  width: 400px;
}

.layer2 {
  position: absolute;
  left: -40px;
  top: 60px;
  text-transform: uppercase;
  color: #fefefc;
}

.layer2 > h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1px;
}

.layer2 > h4 {
  font-size: 13px;
  font-weight: bold;
}

.button_container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.viewMore {
  height: 35px;
  width: 120px;
  font-size: 13px;
  font-weight: bold;
  background-color: #83ad2b;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fefefc;
}

.ShopNow {
  height: 35px;
  width: 120px;
  font-size: 13px;
  font-weight: bold;
  border: 2px solid #fefefc;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.orange {
  margin-top: -132px;
  margin-left: -70px;
  margin-bottom: -5px;
}
.orange > img {
  width: 220px;
}

.section_two {
  width: 100%;
  max-width: 1300px;
  padding: 50px;
}

.products_container {
  display: flex;
  gap: 10px;
  height: 450px;
}

.product_one {
  width: 35%;
  background-color: #edf2f9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.product_two {
  width: 30%;
  background-color: #f1f8eb;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product_title {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.product_title > p {
  font-size: 13px;
  color: #a1a2a5;
}

.product_title > h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.product_one > img {
  width: 90%;
}

.product_two > img {
  width: 80%;
  margin-top: -60px;
}

.product_two {
  width: 45%;
}

.product_three {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small_section {
  background-color: #f8edf1;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product3_img {
  width: 90%;
  margin-top: -60px;
}

.product4_img {
  width: 90%;
}

.section_three {
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title > h2 {
  font-size: 30px;
  font-weight: bold;
  color: #242525;
}

.title > img {
  width: 200px;
  height: 40px;
}

.title > p {
  color: #a2a3a6;
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
}

.products_card_container {
  width: 100%;
  margin-top: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.product_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_card > .image {
  width: 100%;
  background-color: #fbfbfa;
}

.product_card > .image > img {
  width: 100%;
}

.product_details {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.product_details > h5 {
  font-size: 13px;
  font-weight: bold;
  color: #353535;
  text-align: center;
}

.product_details > p {
  font-size: 13px;
  font-weight: normal;
  color: #cdcccc;
}

.product_details > span {
  font-size: 12px;
  font-weight: bold;
  color: #b1cb77;
}

.section_four {
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

.section_four_left {
  width: 60%;
}

.section_four_left > img {
  width: 90%;
  object-fit: contain;
}

.right_section_four {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right_section_four > h2 {
  font-size: 30px;
  color: #292422;
  letter-spacing: 1px;
}

.right_section_four > p {
  font-size: 13px;
  color: #999ea4;
  max-width: 400px;
  line-height: 20px;
}

.section_four_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.section_four_card {
  width: 100%;
}

.section_four_card > h5 {
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #292422;
}

.section_four_card > p {
  color: #999ea4;
  font-size: 13px;
  font-style: italic;
}

.section_four_buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.goToShop {
  height: 35px;
  width: 120px;
  font-size: 13px;
  font-weight: bold;
  background-color: #f3f3f3;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #292422;
}

.section_five {
  width: 100%;
  height: 710px;
  background: url("/home/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav_five {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_card_five {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.nav_card_five > p {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2e3030;
  padding-bottom: 5px;
}

.active_nav_five {
  border-bottom: 1px solid #a3c765;
}

.product_container_five {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.product_five {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.product_five > img {
  height: 200px;
}

.product_five > h6 {
  font-size: 13px;
  font-weight: bold;
  color: #353535;
  margin-top: 10px;
  text-align: center;
}

.product_five > p {
  font-size: 13px;
  font-weight: normal;
  color: #cdcccc;
}

.product_five > span {
  font-size: 12px;
  font-weight: bold;
  color: #b1cb77;
}

.section_six {
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_six {
  margin-top: 30px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.card_six {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;
}

.image_container_blog {
  width: 100%;
  height: 250px;
  position: relative;
}

.image_container_blog > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  height: 50px;
  width: 50px;
  background-color: #fefefc;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date > p {
  font-size: 20px;
}

.date > span {
  font-size: 11px;
  text-transform: uppercase;
}

.green_six {
  width: 50%;
  text-transform: uppercase;
  background-color: #83ad2b;
  height: 20px;
  color: #fefefe;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  z-index: 5;
}

.card_six > h3 {
  font-size: 20px;
  margin-top: 15px;
  font-weight: normal;
}

.user_section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user_section > p {
  font-size: 13px;
  color: #cdcccc;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0px;
}

.user_section > p > img {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.card_six > p {
  font-size: 13px;
  font-weight: normal;
  color: #999ea4;
  text-align: center;
  padding: 0 15px;
}

.card_six > span {
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  color: #83ad2b;
  margin-top: 10px;
}

.comment {
  position: relative;
  margin-top: 2px;
}

.commentCount {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #cdcccc;
  color: #fefefc;
  font-size: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3px;
  right: -3px;
}

.section_seven {
  width: 100%;
  height: 520px;
  background: url("/home/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container_seven {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  width: 100%;
  color: #fefefc;
}

.left_seven > img {
  height: 350px;
}

.right_seven > h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.right_seven {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: -30px;
  margin-top: -30px;
}

.right_seven > h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.right_seven > p {
  font-size: 13px;
  max-width: 550px;
}

.cards_seven {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card_seven {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card_seven > h4 {
  font-size: 25px;
}

.card_seven > p {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.card_seven > span {
  margin-top: 10px;
  font-size: 13px;
}

.strawberry {
  position: absolute;
  height: 120px;
  bottom: -0px;
  opacity: 0.7;
}

.section_common {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfa;
}

.section_eight {
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_eight {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.left_eight,
.right_eight {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #353535;
}

.card_left_eight,
.card_right_eight {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left_card_eight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.right_card_eight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.left_card_eight > h5,
.right_card_eight > h5 {
  font-size: 14px;
}

.left_card_eight > p,
.right_card_eight > p {
  max-width: 280px;
  font-size: 13px;
  color: #999ea4;
}

.center_eight > img {
  width: 90%;
}

.section_nine {
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conainer_nine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card_nine {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  gap: 15px;
  height: 250px;
}

.card_nine > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card_nine > p {
  font-size: 13px;
  text-align: center;
  color: #666768;
}

.name {
  font-size: 13px;
  color: #666768;
}

.name > span {
  color: #292422;
}

.leaveReview {
  height: 35px;
  width: 140px;
  font-size: 13px;
  font-weight: bold;
  background-color: #83ad2b;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fefefc;
  text-transform: uppercase;
  margin-top: 25px;
}

.section_ten {
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_ten {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  color: #242525;
}

.card_ten {
  width: 100%;
}

.card_ten > h4 {
  width: fit-content;
  font-size: 13px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #79a715;
  z-index: 10;
}
.product_ten {
  padding-top: 10px;
  border-top: 1px solid #e3e3e3;
  margin-top: -1px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.product_ten > img {
  height: 70px;
  width: 70px;
  background-color: #f8f9f8;
}

.details_product_ten {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details_product_ten > p {
  font-size: 13px;
}

.details_product_ten > span {
  font-size: 13px;
  color: #83ad2b;
}

.details_product_ten > .content {
  font-size: 13px;
  color: #999ea4;
  line-height: 20px;
}

.details_product_ten > .content > span {
  color: #242525;
}

.date_ten {
  font-size: 13px;
  color: #d2d2d2;
}

.card_ten_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.card_ten_grid > img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

@media only screen and (max-width: 1100px) {
  .rectangle {
    width: 520px;
  }
  .products_container {
    display: flex;
    gap: 10px;
    height: 400px;
  }
  .product_two > img {
    width: 80%;
    margin-top: 0px;
  }
  .product_five > img {
    height: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .section_one {
    height: 600px;
    align-items: center;
  }
  .rectangle {
    display: none;
  }
  .container {
    width: 100%;
    flex-direction: row-reverse;
  }
  .bottle {
    margin-left: 0px;
    margin-top: 0px;
  }

  .bottle > img {
    width: 300px;
  }
  .orange {
    display: none;
  }
  .layer2 {
    position: static;
    left: 0px;
    top: 0px;
    text-transform: uppercase;
    color: #fefefc;
  }
  .header {
    justify-content: flex-end;
  }
  .header_left {
    display: none;
  }
  .products_container {
    display: flex;
    gap: 10px;
    height: 370px;
  }
  .product3_img {
    width: 90%;
    margin-top: -35px;
  }
  .products_card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 980px) {
  .layer_one {
    display: none;
  }
  .container {
    margin-left: 0px;
  }
  .section_four {
    flex-direction: column;
  }
  .section_four_left,
  .right_section_four {
    width: 100%;
  }
  .section_five,
  .section_six,
  .section_seven,
  .section_common,
  .section_ten {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .layer2 > h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
  }
  .button_container {
    margin-top: 80px;
  }
  .products_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
  }
  .section_two {
    padding: 20px;
  }
  .product_one,
  .product_two,
  .product_three {
    width: 100%;
    padding-bottom: 10px;
  }
  .section_three {
    padding: 20px;
  }
  .products_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .section_four {
    padding: 20px;
  }
}
